<md-content class="md-padding" layout="row" layout-sm="column" md-theme="rlo">

    <div flex>
        <form id="locationForm" name="locationForm" layout="column" novalidate>
            <md-input-container class="remove-error-space">
                <label>Name</label>
                <input name="name" ng-model="location.name" required ng-minlength="5">
                <div ng-if="locationForm.$submitted || locationForm.name.$touched">
                    <span class="error-msg" ng-if="locationForm.name.$error.required">Location name is required.</span>
                    <span class="error-msg" ng-if="locationForm.name.$error.minlength">Location name is too short minimum 5 characters required.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>Phone</label>
                <input name="phone" ng-model="location.phone" required ng-minlength="10" ng-maxlength="20">
                <div ng-if="locationForm.$submitted || locationForm.phone.$touched">
                    <span class="error-msg" ng-if="locationForm.phone.$error.required">Phone is required.</span>
                    <span class="error-msg" ng-if="locationForm.phone.$error.minlength">Phone is too short minimum 10 digits required.</span>
                    <span class="error-msg" ng-if="locationForm.phone.$error.maxlength">Phone is too big maximum 20 digits required.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>Address</label>
                <input name="address" name="address" ng-model="location.address" required>
                <div ng-if="locationForm.$submitted || locationForm.address.$touched">
                    <span class="error-msg" ng-if="locationForm.address.$error.required">Address is required.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>City</label>
                <input name="city" ng-model="location.city" required>
                <div ng-if="locationForm.$submitted || locationForm.city.$touched">
                    <span class="error-msg" ng-if="locationForm.city.$error.required">City is required.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>State</label>
                <input name="state" ng-model="location.state" required>
                <div ng-if="locationForm.$submitted || locationForm.state.$touched">
                    <span class="error-msg" ng-if="locationForm.state.$error.required">State is required.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>Zip</label>
                <input name="zip" ng-model="location.zip" required ng-pattern="/^[0-9]+$/" md-maxlength="10"
                       ng-minlength="5" ng-maxlength="20">
                <div ng-if="locationForm.$submitted || locationForm.zip.$touched">
                    <span class="error-msg" ng-if="locationForm.zip.$error.required">Zip is required.</span>
                    <span class="error-msg" ng-if="locationForm.zip.$error.minlength">Zip is too short minimum 5 digit required.</span>
                    <span class="error-msg" ng-if="locationForm.zip.$error.maxlength">Zip is too big maximum 20 digit required.</span>
                    <span class="error-msg" ng-if="locationForm.zip.$error.pattern">This field must contain numbers only.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label for="location_timezone">Timezone</label>
                <md-select aria-label="Select Timezone" ng-model="location.timezone" id="location_timezone">
                    <md-option ng-repeat="option in timeZoneDDOptions" value="{{option}}">
                        {{option}}
                    </md-option>
                </md-select>
            </md-input-container>

            <div layout="row" layout-align="end center">
                <md-progress-circular ng-if="isProcessing" class="md-primary"
                                      md-mode="indeterminate"></md-progress-circular>

                <md-button type="submit" class="md-raised md-primary"
                           ng-disabled="isProcessing" ng-click="locationForm.$valid && saveLocation(location)">Save
                </md-button>

                <md-button class="md-warn md-raised"
                           ng-click="fnCloseLocationManageSwap();">Cancel
                </md-button>
            </div>
        </form>
    </div>
</md-content>