<md-sidenav class="md-sidenav-right md-whiteframe-z2 right-side-nav" md-component-id="manageLocationView">
    <!-- swapping view header -->
    <md-toolbar class="light-black-bg-1">
        <div class="md-toolbar-tools" layout="row">
            <span ng-bind="editLocationName"></span>
            <span flex></span>
            <md-button ng-click="fnCloseLocationManageSwap();" class="md-raised md-primary">Back</md-button>
        </div>
    </md-toolbar>

    <md-content md-theme="grey">
        <md-tabs class="md-primary" md-selected="selectedLocationTab" md-dynamic-height ng-if="isTabsLoad">
            <md-tab label="Edit">
                <div md-theme="rlo" ng-controller="LocationInfoCtrl"
                     ng-if="selectedLocationTab === 0"
                     ng-include="'views/authenticated/locations/locationsInfo.html'">
                </div>
            </md-tab>

            <md-tab label="Repair Orders">
                <md-content class="md-padding"
                            ng-controller="repairOrderCtrl"
                            ng-if="selectedLocationTab === 1"
                            ng-init="fnInitRepairOrders();">
                    <div layout="row" layout-sm="column" layout-align="center center"
                         ng-if="!isDataNotNull && !isMsgShow" md-theme="rlo">
                        <md-progress-circular class="md-primary" md-diameter="100"
                                              md-mode="indeterminate"></md-progress-circular>
                    </div>

                    <div class="md-display-1" ng-if="isMsgShow" layout="row" layout-align="center center">
                        No repair orders available.
                    </div>

                    <div ng-if="isDataNotNull"
                         ng-style="$root.fnReturnGridHeight(repairOrdersData.length, '', false, false)"
                         ui-grid="repairOrderGridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns
                         layout-fill flex></div>
                </md-content>
            </md-tab>

        </md-tabs>
    </md-content>

</md-sidenav>