.center-form-container {
    width: 500px;
}

.forgot-password-dialog {
    max-width: 400px;
    max-height: 500px;
}

.settingTabs .settingTab {
    height: 100%;
    min-height: 550px;
}

/*---------- Location Color Indicator ----------*/
.checked_item {
    border-radius: 13px;
    height: 26px;
    margin: 15px;
    width: 26px;
}

.checked_item_green {
    background-color: #00D500;
}

.checked_item_yellow {
    background-color: #FFFF00;
}

.checked_item_red {
    background-color: #DD0000;
}

.checked_item_gray {
    background-color: #9E9E9E;
}

/*---------- START: Dashbaord Tab ----------*/
#dashboard-tab {
    min-height: 600px;
}

#dashboard-tab section .dashContainerContent {
    height: 352px;
}

#dashboard-tab section .dashContainerContent.summaryContent {
    height: 425px;
    max-height: 425px;
}

/*---------- Summary Calculation ----------*/
.total {
    background-color: #EEEDEE;
    text-align: center;
}

/*---------- END: Dashbaord Tab ----------*/
