@media (max-width: 959px) {

    md-sidenav.right-side-nav {
        min-width: 100%;
    }

    img.rlo-logo{
        height: 50px;
    }

    md-toolbar .md-toolbar-tools .text-small-959 {
        font-size: 16px;
    }

    /* Dashboard 2nd row */
    md-toolbar .md-toolbar-tools.toolbar-content-height {
        height: 70px;
        max-height: 70px;
    }
}

@media (max-width: 768px) {
    .center-form-container {
        width: 300px;
    }
}

@media (max-width: 659px) {
    img.rlo-logo{
        height: 60px;
        width: 100px;
    }
}


@media screen and (max-width: 599px) {
    /* All Modal Dialog */
    md-toolbar .md-toolbar-tools .text-small-599 {
        font-size: 14px;
    }
    /* Dashboard 2nd row */
    md-toolbar .md-toolbar-tools.toolbar-content-height {
        height: 100px;
        max-height: 100px;
    }
}