<md-toolbar class="top-header" ng-init="fnInitMain()">
    <div class="md-toolbar-tools">
        <md-button aria-label="Menu Bar" ng-click="fnToggleSideNav('left')" hide-gt-sm class="md-icon-button">
            <md-icon md-font-set="fa fa-lg fa-fw fa-bars"></md-icon>
        </md-button>

        <div layout="row" flex>
            <img class="img-responsive rlo-logo" alt="Rlo training" src="images/rlo-full-logo.png"/>
        </div>

        <div layout="row">
            <md-button aria-label="Watch Video" class="md-icon-button" ng-href="http://rlotraining.com/demo/" target="_blank">
                <md-icon md-font-set="fa fa-lg fa-fw fa-play-circle"></md-icon>
                <md-tooltip ng-if="$root.isMobile === null" md-direction="left">Watch Our Video Tips</md-tooltip>
            </md-button>
        </div>

        <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open Menu" ng-click="$mdOpenMenu($event)">
                <span ng-bind="userObj.name"></span><md-icon md-font-set="fa fa-lg fa-fw fa-angle-down" style="font-weight: 900;"></md-icon>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="fnStateSettings();">
                        <div layout="row">
                            <p flex>
                                <md-icon class="margin-right-5" md-font-set="fa fa-lg fa-fw fa-cog"></md-icon>
                                Settings
                            </p>
                        </div>
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button ng-click="fnLogout();">
                        <div layout="row">
                            <p flex>
                                <md-icon class="margin-right-5" md-font-set="fa fa-lg fa-fw fa-power-off"></md-icon>
                                Sign out
                            </p>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<md-content layout="row" flex>
    <!-- Left Side Navigation : START-->
    <md-sidenav class="left-side-nav md-sidenav-left md-whiteframe-z2"
                layout="column"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">
        <md-button class="md-accent" ng-class="fnIsActive('/dashboard')"
                   ng-click="$root.fnCloseSideNavs();" ui-sref="main.dashboard">
            <md-icon md-font-set="fa fa-lg fa-fw fa-dashboard"></md-icon>&nbsp;Dashboard</md-button>

        <md-button class="md-accent" ng-class="fnIsActive('/locations')"
                   ng-click="$root.fnCloseSideNavs();" ui-sref="main.locations">
            <md-icon md-font-set="fa fa-lg fa-fw fa-map-marker"></md-icon>&nbsp;Locations</md-button>

        <md-button class="md-accent" ng-class="fnIsActive('/worksheet')"
                   ng-if="fnCheckSubscription(userSubscriptions, 'rlo_standard')"
                   ng-init="fnInitWorksheet();"
                   ng-click="$root.fnCloseSideNavs();" ui-sref="main.worksheet">
            <md-icon md-font-set="fa fa-lg fa-fw fa-briefcase"></md-icon>&nbsp;Monthly Worksheet</md-button>

        <md-button class="md-accent" ng-class="fnIsActive('/location/setup')"
                   ng-click="$root.fnCloseSideNavs();" ui-sref="main.locationSetup">
            <md-icon md-font-set="fa fa-lg fa-fw fa-wrench"></md-icon>&nbsp;Location Setup</md-button>

        <md-button class="md-accent" ng-class="fnIsActive('/help/videos')"
                    ng-click="$root.fnCloseSideNavs();" ui-sref="main.help">
            <md-icon md-font-set="fa fa-lg fa-fw fa-info-circle" ng-style="{'color':lastConfig.color}">
                <md-tooltip ng-if="lastConfig.msg" md-direction="bottom">{{lastConfig.msg}}</md-tooltip>
            </md-icon>&nbsp;Help videos</md-button>
    </md-sidenav>
    <!-- Left Side Navigation : END-->

    <!-- Body content -->
    <md-content id="content" class="overflow-auto" layout="column" flex ui-view></md-content>
</md-content>
