<md-sidenav class="md-sidenav-right md-whiteframe-z2 right-side-nav" md-component-id="right">
    <!-- swapping view header -->
    <md-toolbar class="light-black-bg-1">
        <h1 class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span>New Worksheet</span>
            <md-button ng-click="closeSwap()" class="md-raised md-primary">Back</md-button>
        </h1>
    </md-toolbar>

    <!-- swapping view content -->
    <md-content class="md-padding">
        <form id="newWorksheetForm" layout="column" name="newWorksheetForm" novalidate>
            <md-input-container>
                <label for="worksheet_default_location" class="control-label col-sm-2">Location</label>
                <md-select aria-label="select location" id="worksheet_default_location" ng-model="newWorksheet.location_id" ng-disabled="locations.length == 1">
                    <md-option ng-repeat="location in locations" value="{{location.id}}" ng-disabled="$index === 1">
                        {{location.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="margin-bottom-0">
                <label>Period Start</label>
                <input name="period_start" ng-model="newWorksheet.period_start" ng-click="openDatePicker($event,newWorksheet,'period_start')" readonly style="cursor: pointer">
            </md-input-container>
            <md-input-container class="margin-bottom-0">
                <label>Period End</label>
                <input name="period_end" ng-model="newWorksheet.period_end" ng-click="openDatePicker($event,newWorksheet,'period_end')" readonly style="cursor: pointer">
            </md-input-container>
            <div layout="row" layout-align="end center" layout-xs="column">
                <md-button class="md-raised md-primary" ng-disabled="newWorksheetForm.$invalid" ng-click="fnCreateWorksheet(newWorksheet)">Create New Worksheet</md-button>
                <md-button class="md-warn md-raised" ng-click="closeSwap()" ng-click="cancel()">Cancel</md-button>
            </div>
        </form>
    </md-content>

</md-sidenav>