<div class="md-padding" md-theme="rlo">
    <div class="margin-bottom-10" layout="row" layout-align="space-between center">
        <div class="md-display-1">Account Settings</div>
    </div>

    <form name="partner_form" id="partner_form" layout="column" novalidate flex="70" flex-xs=100>
        <div class="md-title">Business Information</div>
        <div layout="column" class="md-padding">
            <md-input-container class="remove-error-space">
                <label>Business Name</label>
                <input name="businessName" ng-model="user.businessName" required minlength="5">
                <div ng-if="partner_form.$submitted || partner_form.businessName.$touched">
                    <span class="error-msg" ng-if="partner_form.businessName.$error.required">Business name is required.</span>
                    <span class="error-msg" ng-if="partner_form.businessName.$error.minlength">Business name is too short minimum 5 characters required.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>Business Website</label>
                <input name="businessUrl" ng-model="user.website" required
                       ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/">
                <div ng-if="partner_form.$submitted || partner_form.businessUrl.$touched">
                    <span class="error-msg" ng-if="partner_form.businessUrl.$error.required">Business Website is required.</span>
                    <span class="error-msg" ng-if="partner_form.businessUrl.$error.pattern">This field must be a valid url.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>Address</label>
                <input ng-model="user.address">
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>City</label>
                <input ng-model="user.city">
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>State</label>
                <input ng-model="user.state">
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>Business Zip</label>
                <input name="businessZip" ng-model="user.zip" md-maxlength="10" maxlength="20" minlength="5" ng-pattern="/^[0-9]+$/" required>
                <div ng-if="partner_form.$submitted || partner_form.businessZip.$touched">
                    <span class="error-msg" ng-if="partner_form.businessZip.$error.required">Business zip is required.</span>
                    <span class="error-msg" ng-if="partner_form.businessZip.$error.minlength">Business zip is too short minimum 5 digits required.</span>
                    <span class="error-msg" ng-if="partner_form.businessZip.$error.maxlength">Business zip is too big maximum 20 digits required.</span>
                    <span class="error-msg" ng-if="partner_form.businessZip.$error.pattern">This field must contain numbers only.</span>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Business Timezone</label>
                <md-select aria-label="Select Timezone" ng-model="user.timezone">
                    <md-option ng-repeat="option in timeZoneDDOptions" ng-value="option">
                        {{option}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>


        <div class="md-title">Contact Information</div>
        <div class="md-padding" layout="column">
            <md-input-container class="remove-error-space">
                <label>Contact Name</label>
                <input name="contactName" ng-model="user.contactName" required minlength="6" ng-pattern="/^[A-Za-z ]+$/">
                <div ng-if="partner_form.$submitted || partner_form.contactName.$touched">
                    <span class="error-msg" ng-if="partner_form.contactName.$error.required">Contact name is required.</span>
                    <span class="error-msg" ng-if="partner_form.contactName.$error.minlength">Contact name is too short minimum 6 characters required.</span>
                    <span class="error-msg" ng-if="partner_form.contactName.$error.pattern">This field must contain alphabets only.</span>
                </div>
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>Contact Email</label>
                <input name="contactEmail" ng-model="email" minlength="5" disabled>
            </md-input-container>
        </div>


        <div class="md-title">Payment Processing Config</div>
        <div class="md-padding" layout="column">
            <md-input-container class="remove-error-space">
                <label>API Secret Key</label>
                <input ng-model="user.paymentProcessingSecretKey" minlength="6">
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>API Public Key</label>
                <input ng-model="user.paymentProcessingPublicKey" minlength="5">
            </md-input-container>

            <md-input-container class="remove-error-space">
                <label>Account ID</label>
                <input ng-model="user.paymentProcessingAccountId" minlength="5">
            </md-input-container>
        </div>

        <div layout="row">
            <md-button type="submit" class="md-raised md-primary"
                       ng-disabled="isProcessing"
                       ng-click="partner_form.$valid && updateUser();">Save
            </md-button>

            <md-button class="md-warn md-raised" ng-click="cancel();">Cancel</md-button>

            <md-progress-circular class="md-primary" md-theme="rlo" ng-if="isProcessing"
                                  md-mode="indeterminate"></md-progress-circular>
        </div>
    </form>


    <div class="md-title margin-top-10">Payment Information</div>
    <div class="md-padding" layout="column" flex="70" flex-sm="100" flex-xs="100">
        <md-content class="md-padding subscriptions">
            <label><strong><u>Subscriptions</u></strong></label>

            <div layout="row" layout-margin>
                <div flex class="t-head">Location</div>
                <div flex class="t-head">Subscriptions</div>
            </div>
            <div ng-repeat="subscription in paymentInfo.subscriptionsList" layout="row" layout-margin>
                <div flex class="t-body">{{subscription.locationName}}</div>
                <div flex class="t-body">{{subscription.subscriptions}}</div>
            </div>
        </md-content>

        <md-input-container class="remove-error-space">
            <label>Card Type</label>
            <input name="cardType" ng-model="paymentInfo.cardType" disabled>
        </md-input-container>

        <md-input-container class="remove-error-space">
            <label>Card Number</label>
            <input name="cardLast4" ng-model="paymentInfo.cardLast4" disabled>
        </md-input-container>
    </div>

    <div layout="row">
        <md-button class="md-warn md-raised"
                   ng-disabled="partner_form.$invalid"
                   ng-click="">Remove
        </md-button>

        <md-button class="md-raised md-primary" ng-click="openUserPaymentInfo($event);">Change</md-button>

    </div>

</div>