<md-toolbar class="top-header" ng-init="fnInitPaymentInfo()">
    <div class="md-toolbar-tools">
        <div layout="row">
            <img class="img-responsive rlo-logo" alt="Rlo training" src="images/rlo-full-logo.png"/>
        </div>

        <md-menu md-position-mode="target-right target">
            <md-button ng-click="$mdOpenMenu($event)">
                <span ng-bind="userObj.name"></span><md-icon md-font-set="material-icons">keyboard_arrow_down</md-icon>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="fnLogout();">
                        <div layout="row">
                            <p flex>
                                <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                                Sign out
                            </p>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<!-- Body content -->
<md-content class="container-bg">
    <div style="min-height: 20px;">
        <md-progress-linear class="md-warn" ng-if="payment.isProcessing" md-mode="indeterminate"></md-progress-linear>
    </div>
    <div layout="column" layout="column" layout-align="space-between center" flex>
        <md-content class="md-whiteframe-z1 md-padding center-form-container" layout-margin>
            <div class="md-display-1 text-center" layout-padding>Update Payment Method</div>

            <form name="paymentForm" layout="column" novalidate>
                <md-input-container class="remove-error-space">
                    <md-icon class="md-primary margin-top-5">credit_card</md-icon>
                    <input type="number" name="cardNumber" placeholder="Card Number" ng-model="payment.number" ng-pattern="/^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$/" required/>
                    <div ng-if="paymentForm.$submitted || paymentForm.cardNumber.$touched">
                        <span class="error-msg" ng-if="paymentForm.cardNumber.$error.required">Card number is required.</span>
                        <span class="error-msg" ng-if="paymentForm.cardNumber.$error.pattern">This field must contain valid card number</span>
                    </div>
                </md-input-container>
                <md-input-container class="remove-error-space">
                    <md-icon class="md-primary margin-top-5">confirmation_number</md-icon>
                    <input type="number" name="cvv" placeholder="CVV" ng-model="payment.cvv" ng-pattern="/^[0-9]{3,4}$/" required/>
                    <div ng-if="paymentForm.$submitted || paymentForm.cvv.$touched">
                        <span class="error-msg" ng-if="paymentForm.cvv.$error.required">CVV is required.</span>
                        <span class="error-msg" ng-if="paymentForm.cvv.$error.pattern">This field must contain valid CVV number</span>
                    </div>
                </md-input-container>
                <label style="color: rgba(0, 0, 0, 0.40); margin-left:2px;">Expiration (MM/YYYY)</label>
                <div layout layout-sm="column">
                    <md-input-container class="remove-error-space">
                        <md-icon class="md-primary margin-top-5">date_range</md-icon>
                        <input type="number" name="exp_month" placeholder="Month" ng-model="payment.exp_month" maxlength="2" required  ng-pattern="/^(0?[1-9]|1[012])$/"/>
                        <div ng-if="paymentForm.$submitted || paymentForm.exp_month.$touched">
                            <span class="error-msg" ng-if="paymentForm.exp_month.$error.required">Expiration month is required.</span>
                            <span class="error-msg" ng-if="paymentForm.exp_month.$error.maxlength">Expiration month is too big maximum 2 digit required.</span>
                            <span class="error-msg" ng-if="paymentForm.exp_month.$error.pattern">This field must contain valid expiration month.</span>
                        </div>
                    </md-input-container>
                    <md-input-container  class="remove-error-space">
                        <md-icon class="md-primary margin-top-5">date_range</md-icon>
                        <input type="number" name="exp_year" placeholder="Year" ng-model="payment.exp_year" maxlength="4" required  ng-pattern="/^[20][0-9]{3}$/"/>
                        <div ng-if="paymentForm.$submitted || paymentForm.exp_year.$touched">
                            <span class="error-msg" ng-if="paymentForm.exp_year.$error.required">Expiration year is required.</span>
                            <span class="error-msg" ng-if="paymentForm.exp_year.$error.maxlength">Expiration year is too big maximum 4 digit required.</span>
                            <span class="error-msg" ng-if="paymentForm.exp_year.$error.pattern">This field must contain valid expiration year.</span>
                        </div>
                    </md-input-container>
                </div>
                <div layout="column" layout-align="center center">
                    <div layout="row">
                        <md-button type="submit" class="md-raised md-primary"
                                   ng-disabled="payment.isProcessing" ng-click="paymentForm.$valid && fnUpdateUserPaymentInfo(payment);">
                            Save
                        </md-button>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
</md-content>
